*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url(../image/mairie.jpg);
    background-size: cover;
    flex-direction: column;
}

/************************* HIGHT NAVBAR *********************************/

.navbar{
    position: fixed;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(37, 37, 36, 0.801);
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    right: 40px;
}

.nav-likns{
    display: none;
    margin-left: auto;
}

.navbar .nav-likns ul{
    display: flex;
}

.navbar .nav-likns ul li{
    margin: 0 30px;
    font-weight: bold;
}

.navbar .administration:hover{
    color: #4A68B7;
}

.navbar .service:hover{
    color:#248CCA;
}

.navbar .loisirs:hover{
    color:#E7B42C;
}

.navbar .economie:hover{
    color:#EA8018;
}

.navbar .icon{
    display: flex;
}

.navbar .connexion img{
    border-radius: 30px;
    border:2px solid #4A68B7;   
}

/* Search button */

.navbar .search {
    margin-left: auto;
}

.nav-likns .search2{
    display: none;
}

.navbar .search button,
.navbar .search2 button {
    height: 55px;
    width: 55px;
    border: block;
    background-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: #4A68B7;
    margin-right: 10px;
}

.navbar .search button:hover,
.navbar .search2 button:hover{
    background-color: #F0F0F2;
}


.navbar .search img,
.navbar .search2 img {   
    height: 42px;
    width: 42px;   
}

.navbar .inputSearch{
    width: 800px;
}

.navbar .inputSearch2{
    width: 250px;
}

.navbar .inputSearch,
.navbar .inputSearch2{
    border-color:#248CCA;
    border-radius: 5px;
    background-color: #F0F0F2;
    margin-left: auto;
    height: 45px;
    display: none;
}

.navbar .inputSearch.active{
    display: block;
}

/************************* MIDDLE NAVBAR *********************************/

#middleNav{
    background-color: rgba(37, 37, 36, 0.801);
    margin: 600px auto 70px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#middleNavLink{
    display: flex;
    flex-direction: row;
}
#middleNavLink li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 120px;
    text-align: center;
}

#middleNavLink li a{
    font-size: 19px;
    font-weight: 900;
    color: white;
    margin: 30px 40px 20px 40px;
}

#middleNav #colorBlock{
    display: flex;
    flex-direction: row;
}

#adminMiddleNav:hover{
    color:#4A68B7;
}
#serviceMiddleNav:hover{
    color: #248CCA;
}
#loisirsMiddleNav:hover{
    color: #E7B42C;
}
#economieMiddleNav:hover{
    color: #EA8018;
}

#middleNav #middleNavLink li div{
    width: 100%;
    height: 25px;
}
#middleNav #middleNavLink li #adminColor{
    background-color: #00629C ;
    border-radius: 0 0 0 30px;
}
#middleNav #middleNavLink li #serviceColor{
    background-color: #248CCA ;
}
#middleNav #middleNavLink li #loisirColor{
    background-color: #E7B42C ;
}
#middleNav #middleNavLink li #ecoColor{
    background-color: #EA8018 ;
    border-radius: 0 0 30px 0;
}

/************************* INTERSECTION *********************************/

.separer {
    position: absolute;
    align-items: center;
    display: flex;
    margin-top: 60px;
    margin-left: 30px;
}

.trait {
    position: absolute;
    top: 20px;
    left: 190px;
    width: 70%;
    border: 1px solid #4A68B7;
}

.separer p {
    font-size: 20px;
    color: #4A68B7;
 }

.separer img {
   margin-right: 10px;
}

/************************* NEWS *********************************/

#actualite1{
    margin-top: 150px;
}

#actualite2{
    margin-top: 50px;
}

.actualite .carousel .card{
    margin-top: 10px;
    background: white;
    border-radius: 6px;
    padding: 20px 30px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 17px 18px -1px rgba(0,0,0,0.25);
    width: 100%;
}
.actualite .carousel .card:hover{
    background-image: linear-gradient(-222deg, #4A68B7, #248CCA);
    opacity: 0.8;
    color: white;
}

.actualite .carousel {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actualite .carousel .card .box{
    transition: all 0.3s ease;
}

.actualite .carousel .card:hover .box{
    transform: scale(1.1);
}
.actualite .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.actualite .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #4A68B7;
    transition: all 0.3s ease;
}
.actualite .carousel .card:hover img{
    border-color: #fff;
}

.max-width{
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
}

/************************* INFORMATIONS (Agenda & Meteo) *********************************/

.info {
    display: flex; /* Utilisation de flexbox */
    flex-direction:row ;
}

/*** AGENDA ***/

.Agenda {
    display: flex;
    flex-direction: column-reverse;
}

.container{
    width:809px;
    box-sizing:border-box;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: 50px;
  }
  
.light{
    background-color: rgba(37, 37, 36, 0.568);
}
  
.calendar{
    width:400px;
    box-shadow: 0 17px 18px -1px rgba(0,0,0,0.25);
    font-family: 'Roboto', sans-serif;
    padding: 20px 30px;
    color:#4A68B7;
    display: inline-block;
    border-radius: 6px;
}
  
.header_copy{
    color:black;;
    font-size:30px;
}
.calendar_plan{
    margin:20px 0 40px;
}
  
.ce_title{
    font-size:20px;
    color: #4A68B7;
    color:white;
}
  
.event_item{
    margin: 18px 0;
    padding:5px;
    cursor: pointer;
    border-radius: 6px;
}
  
.event_item:hover{
      background-image: linear-gradient(-222deg, #4A68B7, #248CCA);
      box-shadow: 0px 20px 52px -18px rgba(0, 0, 0, 0.75);
      color: white;
}
  
.ei_Dot{
    border-radius:50%;
    width:10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    display:inline-block;
}
.dot_active{
    background-color: #4A68B7;
}
  
.ei_Title{
    margin-left:10px;
    font-size: 1.2em;
    color:white;
    display:inline-block;
}
  
.ei_Copy{
    font-size:12px;
    margin-left:27px;
    color:white;
}

@media screen and (max-width: 1020px) {
    
    .connexion{
        display: none;
    }
    

    .logo{  
        margin-left: 40px;
        margin-top: 10px;
    }

    .navbar{
        position: absolute;
        padding: 0px;
    }

    .navbar .menu-hamburger{
        display: block;
        margin-top: 10px;
    }

    .nav-likns{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.233);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-likns.mobile-menu{
        margin-left: 0;
    }

    .nav-likns ul{
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .navbar .nav-likns ul li{
    margin: 30px 0px;
    font-size: 1.2em;
    font-weight: bold;
    }

    .search{
        display: none;
    }

    .recherche{
        display: flex;
        flex-direction: row;
    }

    .search2.mobile-menu{
        display: flex;
    }

    .inputSearch2.activ{
        display: block;
    }

    #middleNavLink{
        display: none;
    }

    .info {
        display: flex; /* Utilisation de flexbox */
        flex-direction:column ;
    }
}

@media  screen and (max-width : 1250px){
    .actualite .carousel {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .actualite .carousel:hover{
        border-color: #4A68B7;
    }
}

@media  screen and (max-width : 865px){
    .container{
        width:400px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 0;
        margin-bottom: 80px;
    }

    .trait{ 
        width:25%;
    }
}

@media  screen and (max-width : 410px){
    .container{
        width:200px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 200px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media  screen and (max-width : 380px){
    .container{
        width:200px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 100px;
        margin-bottom: 80px;
    }
}

@media  screen and (max-width : 380px){
    .container{
        width:200px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 200px;
        margin-bottom: 80px;
    }
}

